<template>
    <v-card>
        <v-subheader>{{ title }}</v-subheader>
        <v-list two-line>
            <template v-for="(stock, key, index) in symbols">
                <stock-list-item
                        :companyName="stock.companyName"
                        :symbol="stock.symbol"
                        :sector="stock.sector"
                        :latestPrice="stock.latestPrice"
                        :changePercent="stock.changePercent">
                </stock-list-item>
                <v-divider v-if="key + 1 < Object.keys(symbols).length" :key="key"></v-divider>
                <v-divider v-if="index + 1 < Object.keys(symbols).length" :key="index"></v-divider>
            </template>
        </v-list>
    </v-card>
</template>

<script>
    export default {
        props: ['title', 'symbols'],
    };
</script>

<style scoped>
</style>
