<template>
    <v-list-tile :key="symbol" @click="navigateTto(symbol)">
        <v-list-tile-content ripple>
            <v-list-tile-title>{{ companyName }}</v-list-tile-title>
            <v-list-tile-sub-title class="text--primary" v-show="sector">{{ sector }}</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
            <v-chip v-show="latestPrice" color="primary" text-color="white">{{ formatCurrency(latestPrice)}} </v-chip>
            <v-chip v-show="changePercent && changePercent >= 0" color="green" text-color="white">+{{ changePercent}}%
            </v-chip>
            <v-chip v-show="changePercent && changePercent < 0" color="red" text-color="white">{{ changePercent}}%
            </v-chip>
        </v-list-tile-action>
    </v-list-tile>
</template>

<script>
    import helper from '../../common/helper';
    import {mapState, mapActions, mapGetters} from 'vuex';
    import VueRouter from 'vue-router';

    export default {
        data() {
            return {};
        },
        props: ['companyName', 'symbol', 'sector', 'latestPrice', 'changePercent', 'history', 'historyObject'],
        methods: {
            addToHistory(symbol) {
                const searchHistory = {};
                Object.assign(searchHistory, this.searchHistory);
                searchHistory[symbol] = this.historyObject;

                this.$store.dispatch('userSettings/setUserSettings', {
                    dbKey: 'stock',
                    value: {searchHistory: searchHistory}

                });
            },
            navigateTto(symbol) {
                if (this.history){
                    this.addToHistory(symbol);
                }
                this.$router.push({name: 'stockDetails', params: {symbol: symbol}})
            },
            formatCurrency(value) {
                return helper.formatCurrency(value, 'USD');
            },
        },
        computed: {
            ...mapState({
                searchHistory: state => state.userSettings.stock.searchHistory,
            }),
        },
        created() {
            this.$store.dispatch('userSettings/getUserSettings', 'stock')
        },
    };
</script>

<style scoped>
</style>
