<template>
    <div>
        <v-alert :value="errorMessage" type="error" transition="scale-transition">
            {{errorMessage}}
        </v-alert>
        <v-progress-linear v-show="loading" :indeterminate="true" height="3"></v-progress-linear>

        <stock-list v-if="bottomNavigation === 'favorites'" title="Favorites" :symbols="favoritesQuotesList"></stock-list>

        <stock-list v-if="bottomNavigation === 'gainer'" title="Top 10 Gainers" :symbols="gainerList"></stock-list>

        <stock-list v-if="bottomNavigation === 'loser'" title="Top 10 Losers" :symbols="loserList"></stock-list>

        <v-card flat v-if="bottomNavigation === 'search'">
            <v-card-text>
                <stock-search></stock-search>
            </v-card-text>
        </v-card>

        <v-bottom-nav :value="true" :active.sync="bottomNavigation" fixed>
            <v-btn flat color="teal" value="favorites">
                <span>Favorites</span>
                <v-badge color="red darken-2">
                    <span slot="badge"
                          v-if="stockFavoritesCount > 0">{{ stockFavoritesCount
                        }}</span>
                    <v-icon>favorite</v-icon>
                </v-badge>
            </v-btn>
            <v-btn flat color="teal" value="gainer">
                <span>Gainers</span>
                <v-icon>trending_up</v-icon>
            </v-btn>
            <v-btn flat color="teal" value="loser">
                <span>Losers</span>
                <v-icon>trending_down</v-icon>
            </v-btn>
            <v-btn flat color="teal" value="search">
                <span>Search</span>
                <v-icon>search</v-icon>
            </v-btn>
        </v-bottom-nav>
    </div>
</template>

<script>
    import helper from '../../common/helper';
    import {mapState, mapActions, mapGetters} from 'vuex';
    export default {
        data() {
            return {
                bottomNavigation: 'favorites',
                favoritesSymbols: {}
            };
        },
        methods: {
            loadfavoritesQuotes() {
                if (Object.keys(this.favoritesList).length > 0) {
                    this.$store.dispatch('stocks/getFavoritesQuotes', Object.keys(this.favoritesList));
                }
            },
        },
        watch: {
            favoritesList: function () {
                this.loadfavoritesQuotes();
            },
        },
        computed: {
            ...mapState({
                favoritesList: state => state.userSettings.stock.favorites,
                favoritesQuotesList: state => state.stocks.favoritesQuotes,
                gainerList: state => state.stocks.gainerList,
                loserList: state => state.stocks.loserList,
                loading: state => state.stocks.loading,
                errorMessage: state => state.stocks.listError,
            }),
            stockFavoritesCount() {
                return this.favoritesList ? Object.keys(this.favoritesList).length : 0;
            },
        },
        created() {
            this.$store.dispatch('userSettings/getUserSettings', 'stock');
            this.$store.dispatch('stocks/getGainersList');
            this.$store.dispatch('stocks/getLosersList');
        },
        mounted() {
            this.loadfavoritesQuotes();
        }
    };
</script>

<style scoped>
    .card {
        margin-bottom: 56px;
    }
</style>
