<template>
    <div>
        <v-card>
            <v-container fluid grid-list-lg>
                <v-layout row>
                    <v-flex xs7>
                        <v-chip>{{formatDateTime(quote.latestUpdate)}}</v-chip>

                        <v-chip v-show="quote.latestPrice" color="primary" text-color="white">
                            {{ formatCurrency(quote.latestPrice)}}
                        </v-chip>
                        <v-chip v-show="quote.changePercent && quote.changePercent >= 0" color="green"
                                text-color="white">+{{ quote.changePercent}}%
                        </v-chip>
                        <v-chip v-show="quote.changePercent && quote.changePercent < 0" color="red"
                                text-color="white">
                            {{ quote.changePercent}}%
                        </v-chip>
                    </v-flex>
                    <v-flex xs5>
                        <stock-favorite-button class="float-right" :stock="company"></stock-favorite-button>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs7>
                        <div>
                            <div class="headline">{{company.companyName}}</div>
                            <div>{{company.sector}} - {{company.industry}}</div>
                            <br>
                            <div>Symbol: {{company.symbol}}</div>
                            <div>Exchange: {{company.exchange}}</div>
                        </div>
                    </v-flex>
                    <v-flex xs5>
                        <v-card-media
                                :src=logoUrl
                                height="128px"
                                contain
                        ></v-card-media>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>

        <v-card>
            <v-container fluid grid-list-lg>
                <v-layout row>
                    <v-flex xs12>
                        <div>
                            <div>{{company.description}}</div>
                            <br>
                            <hr>
                            <br>
                            <div>CEO: {{company.CEO}}</div>
                            <div>Website: {{company.website}}</div>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>

    </div>
</template>

<script>
    import helper from '../../common/helper';
    import {mapState, mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {};
        },
        props: ['company', 'logoUrl', 'quote'],
        methods: {
            formatCurrency(value) {
                return helper.formatCurrency(value, 'USD');
            },
            formatDateTime(value) {
                return helper.formatDateTime(value, 'USD');
            },
        },
        watch: {},
        computed: {},
        mounted() {

        }
    };
</script>

<style scoped>
    .float-right {
        float: right;
    }
</style>
