<template>
    <v-flex xs12 sm6 offset-sm3>
        <v-subheader>{{ title }}</v-subheader>
        <template v-for="(item, key, index) in newsList">
            <v-card>
                <v-card-media
                        v-show="item.image"
                        :src="item.image"
                        height="200px"
                >
                </v-card-media>
                <v-card-title primary-title>
                    <div>
                        <div class="title">{{item.headline}}</div>
                        <span class="grey--text">{{ formatDateTime(item.datetime)}} - {{item.source}}</span>
                    </div>
                </v-card-title>
                <v-card-actions>
                    <v-btn flat color="primary" :href="item.url" target="_blank"><v-icon left>open_in_new</v-icon>read more</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="toggleShow(index)">
                        <v-icon>{{ show === index ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                    </v-btn>
                </v-card-actions>
                <v-slide-y-transition>
                    <v-card-text v-show="show === index">
                        {{item.summary}}
                    </v-card-text>
                </v-slide-y-transition>
            </v-card>
            <br>
        </template>
    </v-flex>
</template>

<script>
    import helper from '../../common/helper';
    import {mapState, mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                show: null,
            };
        },
        props: ['newsList', 'title'],
        methods: {
            toggleShow(index) {
                if (this.show === index ) {
                    return this.show = null;
                }
                this.show = index;
            },
            formatDateTime(value) {
                return helper.formatDateTime(value);
            },
        },
    };
</script>

<style scoped>
    .card__title--primary {
        padding-top: 10px;
    }

    .title {
        font-weight: 300;
    }
</style>
