<template>
    <v-btn icon ripple @click="toggleFavorite(stock)">
        <v-icon v-if="favoritesSymbols[stock.symbol]" color="red darken-2">favorite</v-icon>
        <v-icon v-else color="grey lighten-1">favorite_border</v-icon>
    </v-btn>
</template>

<script>
    import {mapState, mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {};
        },
        props: ['stock'],
        methods: {
            toggleFavorite(stock) {
                const favoritesSymbols = {};
                Object.assign(favoritesSymbols, this.favoritesSymbols);
                if (favoritesSymbols && favoritesSymbols[stock.symbol]) {
                    delete favoritesSymbols[stock.symbol];
                } else {
                    favoritesSymbols[stock.symbol] = stock;
                }

                this.$store.dispatch('userSettings/setUserSettings', {
                    dbKey: 'stock',
                    value: {favorites: favoritesSymbols}
                });
            },
        },
        computed: {
            ...mapState({
                favoritesSymbols: state => state.userSettings.stock.favorites,
            }),
        },
        created() {
            this.$store.dispatch('userSettings/getUserSettings', 'stock')
        },
        mounted() {
        }
    };
</script>

<style scoped>
</style>
