<template>
    <div id="chart-wrapper" ref="chartWrapper" v-bind:style="{ height: height }">
        <v-alert :value="errorMessage" type="error" transition="scale-transition">
            {{errorMessage}}
        </v-alert>
        <v-bottom-sheet v-model="ButtonSheet">
            <v-btn
                    slot="activator"
                    color="pink"
                    dark
                    absolute
                    top
                    right
                    fab
                    @click="zoomOut()">
                <v-icon>date_range</v-icon>
            </v-btn>
            <v-list>
                <v-list-tile @click="zoomOut()">
                    <v-list-tile-title>Zoom out</v-list-tile-title>
                </v-list-tile>
                <v-subheader>Range</v-subheader>
                <v-list-tile
                        v-for="range in ranges"
                        :key="range"
                        @click="changeRange(range)"
                >
                    <v-list-tile-title>{{ range }}</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-bottom-sheet>
        <highstock class="chart" :options="chartOptions" ref="highcharts"></highstock>

    </div>
</template>

<script>
    import Vue from 'vue';
    import helper from '../../common/helper';
    import {mapState, mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                ButtonSheet: false,
                height: '100%',
                bottomNavigation: 'factsheet',
                ranges: ['1d', '1m', '6m', 'ytd', '1y', '5y'],
                selectedRange: '1d',
                chartOptions: {
                    series: [],
                    colors: ['#26C8C4', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066',
                        '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
                    chart: {
                        height: null,
                        zoomType: 'x',
                        backgroundColor: {
                            linearGradient: {x1: 0, y1: 0, x2: 1, y2: 1},
                            stops: [
                                [0, '#2a2a2b'],
                                [1, '#3e3e40']
                            ]
                        },
                        style: {
                            fontFamily: 'Roboto',
                        },
                        plotBorderColor: '#606063',
                    },
                    rangeSelector: {
                        enabled: false
                    },
                    title: {
                        text: '',
                        style: {
                            color: '#E0E0E3',
                            textTransform: 'uppercase',
                            fontSize: '20px'
                        }
                    },
                    subtitle: {
                        text: '',
                        style: {
                            color: '#E0E0E3',
                            textTransform: 'uppercase'
                        }
                    },
                    xAxis: {
                        type: 'datetime',
                        gridLineColor: '#707073',
                        labels: {
                            style: {
                                color: '#E0E0E3'
                            }
                        },
                        lineColor: '#707073',
                        minorGridLineColor: '#505053',
                        tickColor: '#707073',
                        title: {
                            style: {
                                color: '#A0A0A3'

                            }
                        }
                    },
                    yAxis: {
                        gridLineColor: '#707073',
                        labels: {
                            style: {
                                color: '#E0E0E3'
                            }
                        },
                        lineColor: '#707073',
                        minorGridLineColor: '#505053',
                        tickColor: '#707073',
                        tickWidth: 1,
                        title: {
                            style: {
                                color: '#A0A0A3'
                            }
                        }
                    },
                    tooltip: {
                        valuePrefix: '$',
                        backgroundColor: 'rgba(0, 0, 0, 0.85)',
                        style: {
                            color: '#F0F0F0'
                        }
                    },
                    plotOptions: {
                        series: {
                            dataLabels: {
                                color: '#B0B0B3'
                            },
                            marker: {
                                lineColor: '#333'
                            }
                        },
                        boxplot: {
                            fillColor: '#505053'
                        },
                        candlestick: {
                            lineColor: 'white'
                        },
                        errorbar: {
                            color: 'white'
                        }
                    },
                    legend: {
                        enabled: false,
                    },
                    credits: {
                        style: {
                            color: '#666'
                        }
                    },
                    labels: {
                        style: {
                            color: '#707073'
                        }
                    },
                    drilldown: {
                        activeAxisLabelStyle: {
                            color: '#F0F0F3'
                        },
                        activeDataLabelStyle: {
                            color: '#F0F0F3'
                        }
                    },
                    navigation: {
                        buttonOptions: {
                            symbolStroke: '#DDDDDD',
                            theme: {
                                fill: '#505053'
                            }
                        }
                    },
                    navigator: {
                        handles: {
                            backgroundColor: '#666',
                            borderColor: '#AAA'
                        },
                        outlineColor: '#CCC',
                        maskFill: 'rgba(255,255,255,0.1)',
                        series: {
                            color: '#7798BF',
                            lineColor: '#A6C7ED'
                        },
                        xAxis: {
                            gridLineColor: '#505053'
                        }
                    },
                    scrollbar: {
                        barBackgroundColor: '#808083',
                        barBorderColor: '#808083',
                        buttonArrowColor: '#CCC',
                        buttonBackgroundColor: '#606063',
                        buttonBorderColor: '#606063',
                        rifleColor: '#FFF',
                        trackBackgroundColor: '#404043',
                        trackBorderColor: '#404043'
                    },
                }
            };
        },
        props: ['symbol'],
        methods:
            {
                loadData() {
                    this.$store.dispatch('stocks/getChart', {symbol: this.symbol, range: this.selectedRange});
                },
                setData() {
                    let preparedSymbols = [];
                    if (this.chart.data) {
                        let unixtime, value;
                        Object.entries(this.chart.data).forEach(([key, item]) => {
                            switch (this.chart.range) {
                                case '1d':
                                    unixtime = helper.chartTime1dToUnix(item.date, item.minute);
                                    value = item.marketClose;
                                    break;
                                default:
                                    unixtime = helper.chartTimeToUnix(item.date);
                                    value = item.close;
                            }
                            preparedSymbols.push([unixtime, value]);
                        });
                    }
                    this.chartOptions.title.text = this.symbol;
                    this.chartOptions.subtitle.text = this.chart.range;
                    Vue.set(this.chartOptions, 'series', [{
                        type: 'area',
                        name: this.symbol,
                        data: preparedSymbols
                    }]);
                },
                updateChart: function () {
                    let height = this.$refs.chartWrapper.clientWidth - 115;
                    this.height = height + 'px';
                },
                zoomOut: function () {
                    this.$refs.highcharts.chart.zoomOut();
                    this.ButtonSheet = false;
                },
                changeRange(range){
                    this.selectedRange = range;
                    this.ButtonSheet = false;
                }
            },
        watch: {
            selectedRange: function () {
                this.loadData();
            },
            chart: function () {
                this.setData();
            },
            screenOrientationLandscape: function () {
                this.updateChart();
            },
        },
        computed: {
            ...
                mapState({
                    chart: state => state.stocks.details.chart,
                    loading: state => state.stocks.loading,
                    errorMessage: state => state.stocks.chartError,
                    screenOrientationLandscape: state => state.global.screenOrientationLandscape,
                }),
            chartRange() {
                return this.chart.range;
            },
        },
        mounted() {
            this.loadData();
        }
    };
</script>

<style scoped>
    #chart-wrapper {
        position: relative;
        height: 100%;
    }

    .chart {
        padding-top: 10px;
        width: 100%;
        height: 100%;
    }
</style>
