<template>
    <div class="detail-wrapper">
        <v-alert :value="errorMessage" type="error" transition="scale-transition">
            {{errorMessage}}
        </v-alert>
        <v-progress-linear v-show="loading" :indeterminate="true" height="3"></v-progress-linear>
        <div class="with-bottom-nav">
            <stock-details-company v-if="bottomNavigation === 'factsheet'"
                                   :company="company" :logoUrl="logo.url" :quote="quote"></stock-details-company>

            <stock-details-chart v-if="bottomNavigation === 'chart'"
                                 :symbol="symbol"></stock-details-chart>

            <stock-news-list v-if="bottomNavigation === 'news'"
                             :title="newsListTitle" :newsList="newsList"></stock-news-list>

            <stock-list v-if="bottomNavigation === 'peers'"
                        title="Peers" :symbols="peers"></stock-list>
        </div>
        <v-bottom-nav :value="true" :active.sync="bottomNavigation" fixed>

            <v-btn flat color="teal" value="factsheet">
                <span>Factsheet</span>
                <v-icon>map</v-icon>
            </v-btn>

            <v-btn flat color="teal" value="chart">
                <span>Chart</span>
                <v-icon>show_chart</v-icon>
            </v-btn>

            <v-btn flat color="teal" value="news">
                <span>News</span>
                <v-badge color="red darken-2">
                    <span slot="badge"
                          v-if="newsCount > 0">
                        {{ newsCount }}</span>
                    <v-icon>speaker_notes</v-icon>
                </v-badge>
            </v-btn>

            <v-btn flat color="teal" value="peers">
                <span>Peers</span>
                <v-badge color="red darken-2">
                    <span slot="badge"
                          v-if="peersCount > 0">
                        {{ peersCount }}</span>
                    <v-icon>compare</v-icon>
                </v-badge>
            </v-btn>

        </v-bottom-nav>

    </div>
</template>

<script>
    import helper from '../../common/helper';
    import {mapState, mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                symbol: '',
                bottomNavigation: 'factsheet',
            };
        },
        methods: {
            init() {
                this.symbol = this.$route.params.symbol;
                this.$store.dispatch('stocks/getDetails', this.symbol);
                this.bottomNavigation = 'factsheet';

            },
            formatCurrency(value) {
                return helper.formatCurrency(value, 'USD');
            },
        },
        watch: {
            '$route'(to, from) {
                console.log(to);
                this.init();
            }
        },
        computed: {
            ...mapState({
                company: state => state.stocks.details.company,
                quote: state => state.stocks.details.quote,
                logo: state => state.stocks.details.logo,
                newsList: state => state.stocks.details.news,
                peers: state => state.stocks.details.peers,
                loading: state => state.stocks.loading,
                errorMessage: state => state.stocks.detailsError,
            }),
            newsListTitle() {
                if (this.company && this.company.companyName) {
                    return 'News to ' + this.company.companyName;
                }
                return '';
            },
            peersCount() {
                if (this.peers) {
                    return Object.keys(this.peers).length
                }
                return 0;
            },
            newsCount() {
                if (this.newsList) {
                    return Object.keys(this.newsList).length
                }
                return 0;
            },
        },
        mounted() {
            this.init();
        }
    };
</script>

<style scoped>
    .detail-wrapper {
        height: 100%;
    }
    .with-bottom-nav {
        padding-bottom: 56px;
        height: 100%;
    }
</style>
