<template>
    <div>
        <v-alert :value="errorMessage" type="error" transition="scale-transition">
            {{errorMessage}}
        </v-alert>
        <v-progress-linear v-show="loading" :indeterminate="true" height="3"></v-progress-linear>
        <v-text-field
                prepend-icon="search"
                label="Search"
                solo-inverted
                flat
                clearable
                v-model.trim.lazy="searchValue"></v-text-field>
        <v-list>
            <template v-if="(!searchValue && Object.keys(searchHistory).length)">
                <v-subheader>History</v-subheader>
                <template v-for="(stock, key, index) in searchHistory">
                    <stock-list-item
                            :companyName="stock.name"
                            :symbol="stock.symbol"
                            sector=""
                            latestPrice=""
                            changePercent="">
                    </stock-list-item>
                    <v-divider v-if="index + 1 < Object.keys(searchHistory).length" :key="index"></v-divider>
                </template>
            </template>
            <template v-show="searchValue" v-for="(stock, key, index) in symbols">
                <stock-list-item
                        :companyName="stock.name"
                        :symbol="stock.symbol"
                        sector=""
                        latestPrice=""
                        changePercent=""
                        history="true"
                        :historyObject="stock">
                </stock-list-item>
                <v-divider v-if="index + 1 < Object.keys(symbols).length" :key="index"></v-divider>
            </template>
        </v-list>
    </div>
</template>

<script>
    import axios from 'axios';
    import helper from '../../common/helper';
    import {mapState, mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                symbols: [],
                searchValue: '',
                errorMessage: '',
                loading: false,
            };
        },
        methods: {
            search() {
                let self = this;
                self.loading = true;
                axios.get('https://www.app-number.one/api/iextrading.php?search=' + this.searchValue)
                    .then(function (response) {
                        if (response.data) {
                            console.log(response.data);
                            self.errorMessage = '';
                            self.symbols = response.data;
                            return;
                        }
                        return Promise.reject(response);
                    })
                    .catch(function (error) {
                        self.errorMessage = error;
                    })
                    .finally(function () {
                        self.loading = false;
                    });
            }
        },
        watch: {
            searchValue: function () {
                this.search();
            },
        },
        computed: {
            ...mapState({
                searchHistory: state => state.userSettings.stock.searchHistory,
            }),
        },
    };
</script>

<style scoped>
</style>
