<template>
    <v-container fluid>
        <v-slide-y-transition mode="out-in">
            <v-layout align-center justify-center column>
                <div class="center-block">
                    <img src="@/assets/logo_big.png" alt="appNumberOne">
                    <p class="headline primary--text">
                        I am proud to introduce my first PWA.
                        This app was part of my bachelor thesis at the FOM Hochschule für Oekonomie & Management in Frankfurt am Main to obtain a Bachelor of Science degree in Business Informatics.
                    </p>
                    <br>
                    <br>
                    <br>
                    <v-icon size="80px" color="primary">whatshot</v-icon>
                    <h2 class="headline primary--text">What is App#1?</h2>
                    <p>
                        appNumberOne is the prototype of a financial app for stocks and currencies. You can manage your own favorites, receive information and news about the stock corporations, view historical data on charts and much more.</p>
                    <br>
                    <br>
                    <v-icon size="80px" color="primary">important_devices</v-icon>
                    <h2 class="headline primary--text">What are the technical highlights of App#1?</h2>
                    <p>
                        - Add PWA to your home screen<br>
                        - Dynamic content caching for offline use (IndexedDB)<br>
                        - Save user settings in local web browser (IndexedDB)<br>
                        - Achieved  of 100 points in Google Lighthouse Audit in the categories PWA, Best Practices and SEO<br>
                    </p>
                    <br>
                    <br>
                    <v-icon size="80px" color="primary">build</v-icon>
                    <h2 class="headline primary--text">How was App#1 realized?</h2>
                    <p>
                        appNumberOne was realized with <a href="https://vuejs.org" target="_blank">Vue.js</a>, <a
                            href="https://vuex.vuejs.org" target="_blank">Vuex</a>, <a href="https://vuetifyjs.com"
                                                                                       target="_blank">Vuetify</a>, <a
                            href="https://localforage.github.io/localForage/" target="_blank">localForage</a>, <a
                            href=" https://www.highcharts.com/" target="_blank">Highcharts </a>,
                        and used as data provider <a href="https://fixer.io" target="_blank">fixer.io</a>
                        for currency rates and <a href="https://iextrading.com/" target="_blank">iextrading.com</a>
                        for stock information.
                    </p>
                    <br>
                    <br>
                    <v-icon size="80px" color="primary">code</v-icon>
                    <h2 class="headline primary--text">Where can I find the code of App#1?</h2>
                    <p> The code of this PWA can be found on <a href="https://gitlab.com/sinanbey/app-number-one"
                                                                 target="_blank">GitLab</a>.
                    </p>
                </div>
            </v-layout>
        </v-slide-y-transition>
    </v-container>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .center-block {
        max-width: 600px;
        text-align: center;
    }
</style>
