@import "~material-design-icons/iconfont/material-icons.css";

@font-face {
    font-family: 'Roboto';
    src: url('~roboto-fontface/fonts/roboto/Roboto-Regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.woff') format('woff'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('~roboto-fontface/fonts/roboto/Roboto-Regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.woff') format('woff'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('~roboto-fontface/fonts/roboto/Roboto-Regular.svg#Roboto') format('svg');
    font-display: auto;
}

@font-face {
    font-family: 'Roboto';
    src: url('~roboto-fontface/fonts/roboto/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'), url('~roboto-fontface/fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('~roboto-fontface/fonts/roboto/Roboto-Medium.woff2') format('woff2'), url('~roboto-fontface/fonts/roboto/Roboto-Medium.woff') format('woff'), url('~roboto-fontface/fonts/roboto/Roboto-Medium.ttf') format('truetype'), url('~roboto-fontface/fonts/roboto/Roboto-Medium.svg#Roboto') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Roboto';
    src: url('~roboto-fontface/fonts/roboto/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'), url('~roboto-fontface/fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('~roboto-fontface/fonts/roboto/Roboto-Light.woff2') format('woff2'), url('~roboto-fontface/fonts/roboto/Roboto-Light.woff') format('woff'), url('~roboto-fontface/fonts/roboto/Roboto-Light.ttf') format('truetype'), url('~roboto-fontface/fonts/roboto/Roboto-Light.svg#Roboto') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}


.material-icons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}