<template>
    <div>
        <v-alert :value="errorMessage" type="error" transition="scale-transition">
            {{errorMessage}}
        </v-alert>
        <v-progress-linear v-show="loading" :indeterminate="true" height="3"></v-progress-linear>
        <v-select v-if="Object.keys(symbols).length > 0"
                  :items="getPreparedSymbols()"
                  v-model="baseCurrencySelect"
                  label="Base Currency"
                  autocomplete
                  required
        ></v-select>
        <v-list two-line>
            <template v-for="(symbol, key, index) in symbols">
                <v-list-tile :key="symbol.isoCode" @click="">
                    <v-list-tile-content>
                        <v-list-tile-title v-if="targetCurrencyRates[symbol.isoCode]">
                            {{ formatCurrency(targetCurrencyRates[symbol.isoCode], symbol.isoCode) }}
                        </v-list-tile-title>
                        <v-list-tile-title v-else>{{ symbol.isoCode }}</v-list-tile-title>
                        <v-list-tile-sub-title class="text--primary">{{ symbol.name }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider v-if="index + 1 < Object.keys(symbols).length" :key="index"></v-divider>
            </template>
        </v-list>
    </div>
</template>

<script>
    import helper from '../../common/helper';
    import {mapState, mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                baseCurrencySelect: null,
            };
        },
        methods: {
            getPreparedSymbols() {
                let preparedSymbols = [];
                if (this.symbols) {
                    Object.keys(this.symbols).forEach((isoCode) => {
                        preparedSymbols.push({
                            text: isoCode + ' - ' + this.symbols[isoCode].name,
                            value: isoCode
                        });
                    });
                }
                return preparedSymbols;
            },
            loadExchangeRate() {
                if (this.baseCurrencySelect && Object.keys(this.symbols).length > 1) {
                    this.$store.dispatch('currencies/getExchangeRates', {
                        baseCurrency: this.baseCurrencySelect,
                        targetCurrencies: Object.keys(this.symbols)
                    });
                }
            },
            formatCurrency(value, isoCode) {
                return helper.formatCurrency(value, isoCode);
            },
            saveUserSettings() {
                this.$store.dispatch('userSettings/setUserSettings', {
                    dbKey: 'currency',
                    value: {
                        favoritesListSettings: {
                            baseCurrencySelected: this.baseCurrencySelect,
                        }
                    }
                });
            },
        },
        watch: {
            symbols: function () {
                this.loadExchangeRate();
            },
            baseCurrencySelect: function () {
                this.loadExchangeRate();
                this.saveUserSettings();
            },
            favoritesListSettings: function () {
                this.baseCurrencySelect = this.favoritesListSettings.baseCurrencySelected;
            },
        },
        computed: {
            ...mapState({
                favoritesRates: state => state.currencies.favoritesRates,
                loading: state => state.currencies.loading,
                errorMessage: state => state.currencies.favoritesRatesError,
                symbols: state => state.userSettings.currency.favorites,
                favoritesListSettings: state => state.userSettings.currency.favoritesListSettings,
            }),
            targetCurrencyRates: function () {
                if (this.favoritesRates[this.baseCurrencySelect] && this.favoritesRates[this.baseCurrencySelect].targetRates){
                    return this.favoritesRates[this.baseCurrencySelect].targetRates;
                }
                return [];
            }
        },
        created() {
            this.$store.dispatch('userSettings/getUserSettings', 'currency')
        },
        mounted() {
        },
    };
</script>

<style scoped>
</style>