<template>
    <div>
        <v-alert :value="errorMessage" type="error" transition="scale-transition">
            {{errorMessage}}
        </v-alert>
        <v-progress-linear v-show="loading" :indeterminate="true" height="3"></v-progress-linear>
        <v-text-field
                prepend-icon="search"
                label="Search"
                solo-inverted
                flat
                clearable
                v-model.trim.lazy="searchValue"></v-text-field>
        <v-list two-line>
            <template v-for="(symbol, key, index) in filteredSymbols">
                <v-list-tile :key="symbol.isoCode" @click="">
                    <v-list-tile-content ripple>
                        <v-list-tile-title>{{ symbol.isoCode }}</v-list-tile-title>
                        <v-list-tile-sub-title class="text--primary">{{ symbol.name }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-btn icon ripple @click="toggleFavorite(symbol)">
                            <v-icon v-if="favoritesSymbols[symbol.isoCode]" color="red darken-2">favorite</v-icon>
                            <v-icon v-else color="grey lighten-1">favorite_border</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index + 1 < Object.keys(filteredSymbols).length" :key="index"></v-divider>
            </template>
        </v-list>
    </div>
</template>

<script>
    import helper from '../../common/helper';
    import {mapState, mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                searchValue: '',
            };
        },
        methods: {
            toggleFavorite(symbol) {
                const favoritesSymbols = {};
                Object.assign(favoritesSymbols, this.favoritesSymbols);
                if (favoritesSymbols && favoritesSymbols[symbol.isoCode]) {
                    delete favoritesSymbols[symbol.isoCode];
                } else {
                    favoritesSymbols[symbol.isoCode] = symbol;
                }

                this.$store.dispatch('userSettings/setUserSettings', {
                    dbKey: 'currency',
                    value: {favorites: favoritesSymbols}

                });
            },
        },
        computed: {
            filteredSymbols() {
                if (!this.searchValue) {
                    return this.symbols;
                }
                let filteredSymbols = {};
                Object.keys(this.symbols).forEach((isoCode) => {
                    if (isoCode.indexOf(this.searchValue.toUpperCase()) > -1 || this.symbols[isoCode].name.toLowerCase().indexOf(this.searchValue.toLowerCase()) > -1) {
                        filteredSymbols[isoCode] = this.symbols[isoCode];
                    }
                });
                return filteredSymbols;
            },

            ...mapState({
                symbols: state => state.currencies.list,
                loading: state => state.currencies.loading,
                errorMessage: state => state.currencies.listError,
                favoritesSymbols: state => state.userSettings.currency.favorites,
            }),
        },
        created() {
            this.$store.dispatch('currencies/getList');
            this.$store.dispatch('userSettings/getUserSettings', 'currency')
        },
        mounted() {
        }
    };
</script>

<style scoped>
</style>
