<template>
    <div>
        <v-card flat v-show="bottomNavigation === 'search'">
            <v-card-text>
                <currency-list></currency-list>
            </v-card-text>
        </v-card>

        <v-card flat v-show="bottomNavigation === 'favorites'">
            <v-card-text>
                <currency-favorites-list></currency-favorites-list>

            </v-card-text>
        </v-card>

        <v-bottom-nav :value="true" :active.sync="bottomNavigation" fixed>
            <v-btn flat color="teal" value="search">
                <span>Search</span>
                <v-icon>search</v-icon>
            </v-btn>
            <v-btn flat color="teal" value="favorites">
                <span>Favorites</span>
                <v-badge color="red darken-2">
                    <span slot="badge"
                          v-if="currencyFavoritesCount > 0">{{ currencyFavoritesCount
                        }}</span>
                    <v-icon>favorite</v-icon>
                </v-badge>
            </v-btn>
        </v-bottom-nav>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                bottomNavigation: 'search',
                favoritesSymbols: {}
            };
        },
        methods: {},
        watch: {},
        computed: {
            currencyFavoritesCount() {
                return Object.keys(this.$store.state.userSettings.currency.favorites).length
            }
        },
        created() {
            this.$store.dispatch('userSettings/getUserSettings', 'currency');
        },
        mounted() {
        }
    };
</script>

<style scoped>
    .card {
        margin-bottom: 56px;
    }
</style>
