<template>
    <v-container fluid>
        <v-alert :value="errorMessage" type="error" transition="scale-transition">
            {{errorMessage}}
        </v-alert>
        <v-progress-linear v-show="loading" :indeterminate="true" height="3"></v-progress-linear>
        <v-form ref="form" v-model="valid" lazy-validation>
            <v-layout row wrap text-xs-center>
                <v-flex xs12 sm5 px0>
                    <div>
                        <v-card>
                            <v-card-text>
                                <v-select
                                        :items="getPreparedSymbols()"
                                        v-model="baseCurrencySelect"
                                        label="Base Currency"
                                        autocomplete
                                        :rules="[v => !!v || 'Target Currency is required']"
                                        required
                                ></v-select>
                                <v-text-field
                                        v-model="baseCurrencyRateInput"
                                        :prefix="baseCurrencySelect"
                                        :rules="currencyRateInputRules"
                                        type="number"
                                        required
                                ></v-text-field>
                            </v-card-text>
                        </v-card>
                    </div>
                </v-flex>

                <v-flex xs12 sm2 class="button-box">
                    <div>
                        <span class="hidden-sm-and-up">{{ formatCurrency(1, baseCurrencySelect)}}</span>
                        <div class="hidden-xs-only">{{ formatCurrency(1, baseCurrencySelect)}}</div>
                        <v-btn fab dark color="indigo" v-on:click="changeCurrencies">
                            <v-icon dark>swap_horiz</v-icon>
                        </v-btn>
                        <span class="hidden-sm-and-up">{{ formatCurrency(calculateBaseToTargetCurrency(1), targetCurrencySelect)
                            }}</span>
                        <div class="hidden-xs-only">
                            {{ formatCurrency(calculateBaseToTargetCurrency(1), targetCurrencySelect) }}
                        </div>
                    </div>
                </v-flex>

                <v-flex xs12 sm5>
                    <div>
                        <v-card>
                            <v-card-text>
                                <v-select
                                        :items="getPreparedSymbols()"
                                        v-model="targetCurrencySelect"
                                        label="Target Currency"
                                        autocomplete
                                        :rules="[v => !!v || 'Target Currency is required']"
                                        required
                                ></v-select>
                                <v-text-field
                                        v-model="targetCurrencyRateInput"
                                        :prefix="targetCurrencySelect"
                                        v-on:change="calculateTargetCurrencyRateInput"
                                        type="number"
                                        required
                                        disabled
                                ></v-text-field>
                            </v-card-text>
                        </v-card>
                    </div>
                </v-flex>
            </v-layout>
            <v-layout row wrap>
                <v-flex xs12 sm5>

                </v-flex>
            </v-layout>
        </v-form>
    </v-container>
</template>

<script>
    import helper from '../../common/helper';
    import {mapState, mapActions, mapGetters} from 'vuex';

    export default {
        components: {},
        data() {
            return {
                valid: true,
                baseCurrencySelect: null,
                baseCurrencyRateInput: 1,
                currencyRateInputRules: [
                    v => !!v || 'Amount is required',
                    v => /^(\d*)(\.\d*)?$/.test(v) || 'Invalid format ex. 123.00'
                ],
                targetCurrencySelect: null,
                targetCurrencyRateInput: 0,
            };
        },
        methods: {
            reset() {
                this.valid = true;
                this.targetCurrencyRateInput = 0;
                this.timestamp = 0;
            },
            getPreparedSymbols() {
                let preparedSymbols = [];

                if (this.favoritesSymbols) {
                    preparedSymbols.push({header: 'Favorites'});
                    Object.keys(this.favoritesSymbols).forEach((isoCode) => {
                        preparedSymbols.push({
                            text: isoCode + ' - ' + this.symbols[isoCode].name,
                            value: isoCode
                        });
                    });
                    preparedSymbols.push({divider: true});
                }

                if (this.symbols) {
                    Object.keys(this.symbols).forEach((isoCode) => {
                        preparedSymbols.push({
                            text: isoCode + ' - ' + this.symbols[isoCode].name,
                            value: isoCode
                        });
                    });
                }
                return preparedSymbols;
            },
            loadExchangeRate() {
                if (this.baseCurrencySelect && this.targetCurrencySelect) {
                    this.$store.dispatch('currencies/getExchangeRate', {
                        baseCurrency: this.baseCurrencySelect,
                        targetCurrency: this.targetCurrencySelect
                    });
                    this.reset();
                }
            },
            calculateBaseToTargetCurrency(baseCurrencyValue) {
                if (baseCurrencyValue && this.rate) {
                    return baseCurrencyValue * this.rate.targetRate;
                }
                return 0;
            },
            calculateTargetToBaseCurrency(targetCurrencyValue) {
                if (targetCurrencyValue && this.rate) {
                    return targetCurrencyValue / this.rate.targetRate;
                }
                return 0;
            },
            calculateBaseCurrencyRateInput() {
                if (this.$refs.form.validate()) {
                    this.targetCurrencyRateInput = this.calculateBaseToTargetCurrency(this.baseCurrencyRateInput);
                }
            },
            calculateTargetCurrencyRateInput() {
                if (this.$refs.form.validate()) {
                    this.baseCurrencyRateInput = this.calculateTargetToBaseCurrency(this.targetCurrencyRateInput);
                }
            },
            changeCurrencies() {
                const baseCurrencySelect = this.baseCurrencySelect;
                this.baseCurrencySelect = this.targetCurrencySelect;
                this.targetCurrencySelect = baseCurrencySelect;
            },
            formatCurrency(value, isoCode) {
                return helper.formatCurrency(value, isoCode);
            },
            saveUserSettings() {
                this.$store.dispatch('userSettings/setUserSettings', {
                    dbKey: 'currency',
                    value: {
                        calculatorSettings: {
                            baseCurrencySelected: this.baseCurrencySelect,
                            targetCurrencySelected: this.targetCurrencySelect
                        }
                    }
                });
            },
        },
        watch: {
            baseCurrencySelect: function () {
                this.loadExchangeRate();
                this.saveUserSettings();
            },
            targetCurrencySelect: function () {
                this.loadExchangeRate();
                this.saveUserSettings();
            },
            baseCurrencyRateInput: function () {
                this.calculateBaseCurrencyRateInput();
            },
            rate: function () {
                this.calculateBaseCurrencyRateInput();
            },
            calculatorSettings: function () {
                this.baseCurrencySelect = this.calculatorSettings.baseCurrencySelected;
                this.targetCurrencySelect = this.calculatorSettings.targetCurrencySelected;
            },
        },
        computed:
            {
                ...mapState({
                    symbols: state => state.currencies.list,
                    favoritesSymbols: state => state.userSettings.currency.favorites,
                    rates: sate => sate.currencies.calculatorRates,
                    loading: state => state.currencies.loading,
                    errorMessage: state => state.currencies.calculatorRatesError,
                    calculatorSettings: state => state.userSettings.currency.calculatorSettings,
                }),
                rate: function () {
                    return this.rates[this.baseCurrencySelect + '_' + this.targetCurrencySelect];
                }
            },
        created() {
            this.$store.dispatch('currencies/getList');
            this.$store.dispatch('userSettings/getUserSettings', 'currency');
        },
        mounted() {
        }
    };
</script>

<style scoped>
    .button-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
