<template>
    <v-app :dark="darkTheme">>
        <v-navigation-drawer
                persistent
                :clipped="clipped"
                v-model="drawer"
                enable-resize-watcher
                fixed
                app>
            <v-list>
                <v-list-tile v-for="item in navigationItems" :key="item.title" @click="" :to="{ name: item.routeName}"
                             exact>
                    <v-list-tile-action>
                        <v-icon v-html="item.icon"></v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{item.title}}</v-list-tile-title>
                        <v-list-tile-sub-title v-if="item.subtitle">{{item.subtitle}}</v-list-tile-sub-title>

                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <v-list class="bottom-navigation">
                <v-list-tile>
                    <v-switch label="Light/Dark Theme" v-model="darkTheme"></v-switch>
                </v-list-tile>

                <v-list-tile v-for="item in bottomNavigationItems" :key="item.title" @click=""
                             :to="{ name: item.routeName}" exact>
                    <v-list-tile-action>
                        <v-icon v-html="item.icon"></v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{item.title}}</v-list-tile-title>
                        <v-list-tile-sub-title v-if="item.subtitle">{{item.subtitle}}</v-list-tile-sub-title>

                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app :clipped-left="clipped">
            <v-toolbar-side-icon v-show="!showBackButton" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-btn v-show="showBackButton" icon @click="$router.back()">
                <v-icon>arrow_back</v-icon>
            </v-btn>
            <v-toolbar-title @click="$router.push({ name: 'home'})">
                <img src="/static/img/logo-title-bar.png" alt="AppNumberOne">
            </v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-content>
            <router-view/>
        </v-content>
        <v-snackbar bottom multi-line vertical v-model="showUpdateSnackbar">
            New Update Available!
            <v-btn flat color="pink" @click.native="forceReload()">reload now</v-btn>
        </v-snackbar>
    </v-app>
</template>

<script>
    import {mapState, mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                darkTheme: true,
                clipped: true,
                drawer: null,
                fixed: false,
                navigationItems: [
                    {
                        icon: "apps",
                        title: "Home",
                        routeName: "home"
                    },
                    {
                        icon: "show_chart",
                        title: "Stocks",
                        routeName: "stocks"
                    },
                    {
                        icon: "attach_money",
                        title: "Currencies",
                        routeName: "currencies"
                    },
                    {
                        icon: "loop",
                        title: "Currency Calculator",
                        routeName: "currencyCalculator"
                    },
                ],
                bottomNavigationItems: [
                    {
                        icon: "work",
                        title: "Privacy Policy",
                        subtitle: "Datenschutzerklärung",
                        routeName: "privacyPolicy"
                    },
                    {
                        icon: "info",
                        title: "Legal Notice",
                        subtitle: "Impressum",
                        routeName: "legalNotice"
                    },
                ],
                miniVariant: false,
                right: true,
                showUpdateSnackbar: false,
            };
        },
        methods:
            {
                checkNewVersion() {
                    if (window['isUpdateAvailable']) {
                        window['isUpdateAvailable']
                            .then(isAvailable => {
                                if (isAvailable) {
                                    this.showUpdateSnackbar = true;
                                }
                            });
                    }
                },
                forceReload() {
                    window.location.reload(true);
                },
                saveUserSettings() {
                    this.$store.dispatch('userSettings/setUserSettings', {
                        dbKey: 'app',
                        value: {
                            darkTheme: this.darkTheme,
                        }
                    });
                },
            },
        watch: {
            darkTheme: function () {
                this.saveUserSettings();
            },
            userSettingsDarkTheme: function () {
                this.darkTheme = this.userSettingsDarkTheme;
            },
        },
        computed: {
            ...mapState({
                userSettingsDarkTheme: state => state.userSettings.app.darkTheme,
            }),
            showBackButton: function () {
                return this.$route.meta.showBackButton;
            }
        },
        created() {
            this.$store.dispatch('userSettings/getUserSettings', 'app');
        },
        mounted() {
            this.checkNewVersion();
        },
        name: "App"
    };
</script>
<style scoped>
    .toolbar__title > img {
        margin-top: 6px;
        width: 180px;
    }

    .bottom-navigation {
        bottom: 0;
        position: absolute;
        width: 100%;
    }
</style>